@page "/"

<PageTitle>BlazorApp</PageTitle>

<h1>Hello, @GetUserName()!</h1>

<button @onclick="@(() => {name = inputValue;})">Hello!</button>
<input @bind="inputValue"  placeholder="Type your name"/>

<p>Patryk Morawiec</p>
<a href="https://patryk9999m.github.io/" target="_blank">About me</a>


@code{
    private string name = "world";
    private string inputValue = "";
    private string GetUserName()
    {
        return name;
    }

}
